#container{
    background-color: navy;
}
.title h1{
    border-radius: 15px;
    background: #e75050;
    color: turquoise;
    padding: 20px;
    margin: 10px 20px 10px 10px;
}
.wrapper{
    width: 300px;
    background: rgba(39, 224, 169, 0.562);
    border-radius: 15px;
    position: absolute;
    padding: 20px;
    color: white;
    margin: 10px 20px 10px 10px;
}
.inden{
    list-style-type: circle;
}
a {
    color: rgb(115, 211, 190) ;
}
.wrapbody {
    position: absolute;
    background: rgb(13, 15, 34);
    color: floralwhite;
    justify-content: center;
    border-radius: 15px;
    left: 380px;
    width: 1280px;
    height: 605px;
    margin: 10px 20px 10px 20px;
    padding: 15px;
    font-size: 19.2px;

}
.wrapbody li {
    padding-bottom: 15px;
}
.color {
    color: rgb(112, 112, 228);
}
.footer p{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 35px;
    width: 95.8%;
    background: grey;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    margin: 20px 20px 10px 20px;
    border-radius: 15px;
    color: floralwhite;
}
